


.form-signin {
  width: 100%;
  max-width: 25em;
  padding: 15px;
  margin: auto;
  background: #f4f4f4;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/*Google fonts*/

@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
  padding: 0;
  margin: 0;
}

#todo-form {
  max-width: 30em;
  margin: 4em auto;
  position: relative;
  background: #f4f4f4;
  padding: 2em 3em;
}

#todo-form h1 {
  font-family: "Raleway";
  color: #F97300;
}

#todo-form input[type=text]::placeholder {
  font-family: "Raleway";
  color: #666;
}

#todo-form .data {
  margin-top: 1em;
}

#todo-form .data li {
  background: #fff;
  border-left: 4px solid #F97300;
  padding: 1em;
  margin: 1em auto;
  color: #666;
  font-family: "Raleway";
}

#todo-form .data li i {
  float: right;
  color: #888;
  cursor: pointer;
}

#todo-form .input-group-text {
  background: #F97300;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  padding: 1em 23px;
  color: #fff;
  position: absolute;
  right: 13px;
  top: 68px;
  cursor: pointer;
}

#todo-form .input-group-text i {
  font-size: 2em;
}

#todo-form .form-control {
  height: 3em;
  font-family: "Raleway";
}

#todo-form .form-control:focus {
  box-shadow: 0;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

quantity {
  float: left;
  margin-right: 15px;
  background-color: #eee;
  position: relative;
  width: 80px;
  overflow: hidden
}

.quantity input {
  margin: 0;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 0;
  float: right;
  color: #000;
  font-size: 20px;
  border: 0;
  outline: 0;
  background-color: #F6F6F6
}

.quantity input.qty {
  position: relative;
  border: 0;
  width: 100%;
  height: 40px;
  padding: 10px 25px 10px 10px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  background-clip: padding-box
}

.quantity .minus, .quantity .plus {
  line-height: 0;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-background-size: 6px 30px;
  -moz-background-size: 6px 30px;
  color: #bbb;
  font-size: 20px;
  position: absolute;
  height: 50%;
  border: 0;
  right: 0;
  padding: 0;
  width: 25px;
  z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
  background-color: #dad8da
}

.quantity .minus {
  bottom: 0
}
.shopping-cart {
  margin-top: 20px;
}
.welcome {
  color: white;
}